/* Estilo Tarjeta iOS */
.card-ios {
  backdrop-filter: blur(10px);
  /* Efecto cristal de iOS */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.title-ios {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.subtitle-ios {
  font-size: 0.9rem;
}

/* Barras de Progreso Estilo Apple */
.progress-ios {
  background: #e5e5ea;
  border-radius: 10px;
  height: 12px;
  overflow: hidden;
  width: 100%;
}

.progress-bar-ios {
  height: 100%;
  border-radius: 10px;
  transition: width 0.8s cubic-bezier(0.1, 0.7, 1.0, 0.1);
  /* Animación suave */
}

.pf-color {
  background: linear-gradient(90deg, #007aff, #5856d6);
}

/* Azul iOS */
.fci-color {
  background: linear-gradient(90deg, #34c759, #30b0c7);
}

/* Verde iOS */

.label-chart {
  font-weight: 600;
  font-size: 0.85rem;
}

.value-chart {
  font-weight: 700;
  font-size: 0.85rem;
}