.colorDefault,
.colorActive,
.colorBtnPrimary {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

.theme-btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  border: 1px solid #97979788;
  background-color: transparent;
}

.colorDefault {
  /* Green */
  background-color: transparent;
  color: #4CAF50;
  border: none;
  width: 50%;
}

.colorActive {
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 25px;
  width: 50%;
}

.colorBtnPrimary {
  background-color: #4CAF50;
  color: white;
  width: 100%;
}