.colorDefault,
.colorActive,
.colorBtnPrimary {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

.colorDefault {
  /* Green */
  border: 1px solid #4CAF50;
  background-color: #ffffff;
  color: #4CAF50;
}

.colorActive {
  background-color: #4CAF50;
  border: none;
  color: white;
}

.colorBtnPrimary {
  background-color: #4CAF50;
  color: white;
  width: 100%;
}