.containerBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subContainerBtns {
    border: 1px solid #4CAF50;
    border-radius: 30px;
    padding: 3px;
    width: 100%;

}

.containerInputs {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
    border-radius: 15px;
}

.containerInputs input {
    width: 95%;
    padding: 5px;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    font-size: 22px;
}

.containerInputs input:focus {
    outline: none;
}

.item-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.subContainerInputs {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
}

.item i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: #4caf4fcb;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.109);
    border-radius: 50%;
    padding: 3px;
}

.containerTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
    border-radius: 25px;
}

.containerTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
    border-radius: 25px;
}


.subContainerTotal {
    min-width: 48%;
    padding: 1px;
    border-radius: 5px;
}

.containerTotalDetails {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
}

.subContainerTotal p,
strong {
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 11px;
}

strong {
    font-size: 14px;
}

@media (max-width: 768px) {
    .containerInputs input {
        width: 85%;
    }
}