.btn-lang {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}